@import "~bootstrap/scss/bootstrap";

$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/'; 
@import '~material-design-icons-iconfont/src/material-design-icons';

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Yu Gothic", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body:lang(zh-TW) {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Microsoft JhengHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body:lang(zh-CN) {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Microsoft YaHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.material-icons {
    vertical-align: top;
}

.background {
    background-image: url("./img/background.svg");
    background-size: 3rem 3rem;
}